@use "../../shared.scss";

.page {
  height: 80vh;
  background-color: shared.$primary-color;

  .container {
    height: 100%;
    will-change: contents;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    overflow-x: hidden;
    overflow-y: auto;
    // border: 2px solid blue;
  }
}
