@use "../../shared.scss";

.footer {
  width: auto;
  height: 8vh;
  background-color: shared.$primary-dark-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    font-size: 1.5vw;
    color: shared.$text-primary-color;
  }
}
